{% extends 'base.html.twig' %}

{% block title %}{{ 'home'|trans }}{% endblock %}

{% block body %}
    <section id="home">
        <div class="hero">
            <video autoplay muted loop id="background-video">
                <source src="{{ asset('video/vigne.mp4') }}" type="video/mp4">
                {{ 'video'|trans }}
            </video>
            <div class="overlay"></div>
            <div class="hero-content">
                <div class="title">
                    <h1>My Cave</h1>
                    <p>{{ 'describe-title'|trans }}</p>
                </div>
                <div class="who-are-we">
                    <h2>{{ 'who-are-we'|trans }}</h2>
                    <p>{{ 'my-cave-description'|trans }}</p>
                    {% if app.user %}

                    {% else %}
                        <h3>{{ 'my-cave-join'|trans }}</h3>
                        <a class="cta" href="{{ path('create_user', {'_locale': app.request.locale}) }}">{{ 'create_account'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}