{% extends 'base.html.twig' %}

{% block title %}Hello CellarController!{% endblock %}

{% block body %}
    <section id="highlight-card">
        <div class="highlight-card">
        
        </div>
    </section>
    <section id="bottles-card">
        <div class="bottles-card">
            {% for bottle in bottles %}
                <a class="card-container" href="{{ path('bottle',{'id' : bottle.id}) }}">
                    <div class="img-card-container">
                        <img src="{{ asset('images/upload/' ~ bottle.imageName) }}" alt="Image {{ bottle.label }}">
                    </div>
                    <div class="title-card-container">
                        <h2>{{ bottle.label }}</h2>
                    </div>
                    <div class="content-card-container">
                        <p>
                            {% if bottle.wineProfile.bio and bottle.wineProfile.bio.isBio() %}
                                <span>{{ 'wine_profile.bio.label'|trans }}</span>
                            {% endif %} 
                            {% if bottle.wineProfile.sulfite and bottle.wineProfile.sulfite.isSulfite() %}
                                <span>{{ 'wine_profile.sulfite.with'|trans }}</span>
                            {% else %}
                                <span>{{ 'wine_profile.sulfite.without'|trans }}</span>
                            {% endif %}
                        </p>
                    </div>
                    {% if app.user and (app.user.id == bottle.user.id or 'ROLE_ADMIN' in app.user.roles) %}
                        <a href="{{ path('update_bottle',{'id' : bottle.id}) }}">{{ 'update'|trans }}</a>
                        <form method="POST" onsubmit="return confirm('{{ 'confirm_delete'|trans }}')" action="{{ path('delete_bottle', {'id': bottle.id}) }}">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ bottle.id) }}">
                            <input type="submit" value="{{ 'delete'|trans }}">
                        </form>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
